<body style="background-color: whitesmoke">
    <h1 style = "font-size: 1cm;" style ="background-position-x: center;" id = "title">
        The best RPS of your scissor cuttin', Paper rappin', and Rock throwin's lyfe~ 
        <form action = "/match" method = "post">
        
        <input type = "text" name = "inputplayer1">
        <input id = "submitName1" type = "submit" value = "I'd like to murk some n00bz">     
        
        </form>
    </h1>
</body>