<h1>What you picking?</h1>
<h2>Next Challenger: <%= name %>!</h2>

<form action = "/result" method = "post">         
    <body>
        <input id = "Rock" type = "submit" value = "Rock" name="A">
      
    </body>
</form>
<form action = "/result" method = "post">         
    <body>
       
        <input id = "Paper" type = "submit" value ="Paper" name = "A">
      
    </body>
</form>
<form action = "/result" method = "post">         
    <body>
  
        <input id = "Scissors" type = "submit" value = "Scissors" name = "A">
    </body>
</form>