
<h1>Duel</h1>
<form action="/" method="post">
    <body id="body">

        <p > <%= `Challenger : ${mychoice} ` %> </p>
        <p > <%= `El Problemo : ${AIchoice} ` %> </p>
        <p> -----------------------</p>
        <p > <%= `${result} ` %> </p>
 
    </body>
    </form>